.header {
  width: 100%;
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-image {
    width: 100px;
    height: auto;
}


.profile-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-image {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image-loading {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #e5e7eb;
  animation: pulse 1.5s infinite ease-in-out;
}

.profile-image-error {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logout-text {
  font-weight: 500;
  text-decoration: none;
  color: inherit;        
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
