JAVA_OPTS=-Xms256m -Xmx1g
TZ=Asia/Seoul

MYSQL_DATABASE=FLYING_TRUCK_PROJECT
MYSQL_USER=devchat
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

DB_HOST=devchat-mysql
DB_PORT=3306

REDIS_HOST=devchat-redis
REDIS_PORT=6379
REDIS_MAXMEMORY=256mb

OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_SECRET=
OAUTH_GITHUB_REDIRECT_URI=https://api.devchat.o-r.kr/login/oauth2/code/github

DOMAIN_URL=https://devchat.o-r.kr
IMAGE_URL=https://d22vgxizf9jpuo.cloudfront.net
WEBHOOK_URL=https://api.devchat.o-r.kr

JWT_SECRET=
ENCRYPT_SECRET=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=devchat-878223349322-ap-northeast-2-an

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
